/*
!/README.md
!/debian
!/.gitignore
debian/.debhelper/
debian/debhelper-build-stamp
debian/debuild.log
debian/files
debian/libclblas-dev.debhelper.log
debian/libclblas-dev.substvars
debian/libclblas-dev/
debian/libclblas2.debhelper.log
debian/libclblas2.substvars
debian/libclblas2/
debian/tmp/
